html { 
  height: 100%; /* Fix for Firefox */
}

body {
  background: linear-gradient(#29323c, #485563);
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  color: white;
  margin: 80px;
  line-height: 1.5;
}

.emphasis {
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/fonts/OpenSans.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/fonts/OpenSans-Italic.ttf) format('truetype');
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate(0, -100%);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate(0, -100%);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
  }
}

.fadeInDown {
  animation: fadeInDown;
  -webkit-animation: fadeInDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}